:root {
    --main-bg-color: #172331;
    ;
}

.pokedex {
    background-image: url('./assets/pokedex.jpg');
    width: 1000px;
    height: 702px;
    position: relative;
    top: -6px;
    left: 332px;
}



.inputTxtSearch {
    position: sticky;
    top: 237px;
    left: 898px;
    width: 332px;
    height: 80px;
    font-size: 50px;
    color: aliceblue;
    background-color: var(--main-bg-color)
}

.viewPokemon {
    position: sticky;
    background: var(--main-bg-color);
    height: 153px;
    width: 228px;
    top: 282px;
    left: 474px;
    background-image: url(./assets/poke-shadow.png);
}

.poke-img {
    width: 220px;
    border-radius: 50%;
}

.namePoke {
    width: 128px;
    left: 155px;
    top: 326px;
    height: 64px;
    position: inherit;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 20px;
}

.poke-stats {
    position: inherit;
    top: 11px;
    left: 574px;
    /* background: #ff000061; */
    width: 319px;
    height: 80px;
    margin: 0;
    padding: 0;
    display: grid;
    justify-items: start;
    grid-template-rows: 43px;
    grid-template-columns: 68px 66px 66px;

}

.poke-types {
    position: inherit;
    top: 125px;
    left: 190px;
    width: 101px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 25px;
}

.imgFlash {
    width: 58px;
    height: 55px;
    position: inherit;
    top: -364px;
    left: 75px;
    border-radius: 20px;
}

.divContainUsers {
    top: 70px;
    position: absolute;
}